body {
  font-family: sans-serif;
  font-weight: 400;
  background-color: beige;
}

.best {
  width: 125%;
  font-style: italic;
  font-weight: bold;
  color: darkred;
}

.flashy {
  color: red;
  font-style: italic;
}
